/* Estilos generales */
body {
  font-family: "Arial", sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
  margin: 0;
}

.container {
  margin: 50px auto;
  max-width: 960px;
}

.main-container {
  margin-top: 100px;
}

h2 {
  color: #007bff;
}

/* Estilos de la tabla */
.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
}

.table th {
  background-color: #007bff;
  color: #ffffff;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Estilos de los botones */
.btn {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  background-color: #007bff;
  color: #ffffff;
  border: 1px solid #007bff;
  border-radius: 4px;
}

.btn:hover {
  background-color: #0056b3;
  color: #ffffff;
}

.btn-primary,
.btn-warning,
.btn-danger {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover,
.btn-warning:hover,
.btn-danger:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-warning {
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-warning:hover {
  background-color: #d39e00;
  border-color: #d39e00;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #bd2130;
  border-color: #bd2130;
}

/* Estilos del formulario de inicio de sesión */
.login-form {
  max-width: 300px;
  margin: 0 auto;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilos del navbar */
.navbar {
  background-color: #007bff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navbar-brand {
  color: #ffffff;
  font-weight: bold;
}

.navbar-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-right: 20px;
}

.nav-link,
.logout-link {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
}
.nav-link:hover,
.logout-link:hover {
  background-color: #0062cc;
  color: #ffffff;
}

/* Media queries para diferentes tamaños de pantalla */
@media (max-width: 768px) {
  /* Ajustes para pantallas pequeñas */
  .container {
    max-width: 768px;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-nav {
    flex-direction: column;
  }

  .nav-item {
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  /* Ajustes para pantallas aún más pequeñas */
  .container {
    max-width: 576px;
  }
}
