<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Personas</title>
  </head>
  <body>
    <h1>Lista de Personas</h1>
    <ul>
      {% for persona in personas %}
      <li>
        {{ persona[1] }} - {{ persona[2] }}
        <a href="{{ url_for('actualizar', id=persona[0]) }}">Actualizar</a>
        <a href="{{ url_for('eliminar', id=persona[0]) }}">Eliminar</a>
      </li>
      {% endfor %}
    </ul>
    <a href="{{ url_for('crear') }}">Agregar Persona</a>
  </body>
</html>
